.TodoList {
  display: grid;
  grid-column: auto;
  justify-content: center;
  list-style: none;
  margin-top: 30px;
  padding: 0;
  border-radius: 16px;
  box-shadow: 5px 15px 50px rgba(255, 255, 255, 0.25);
  background: rgba(7, 80, 80, 0.25) ;
}

ul li {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 16px;
  height: 50px;
  border-radius: 8px;
}