form {
  width: 90%;
  max-width: 300px;
  background-color: #d3d3d3;
  border-radius: 14px;
  padding: 33px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #1E1E1F;
  margin-bottom: 26px;
}

textarea {
  background-color: #F9FBFC;
  border: 2px solid #202329;
  border-radius: 2px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  color: #1E1E1F;
  font-size: 20px;
  text-align: center;
  padding: 12px;
  height: 50px;
  width: calc(100% - 25px);
}

textarea::placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat';
  font-weight: 400;
}

textarea:focus {
  outline-color: #23927f;
}

.TodoForm-buttonContainer {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.TodoForm-button {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  color: #202329;
  font-weight: 400;
  width: 120px;
  height: 48px;
  border-radius: 2px;
  border: none;
  font-family: 'Montserrat';
}

.TodoForm-button--add {
  border-radius: 10px; 
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #23927f;
  position: relative;
}
.TodoForm-button--add:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 16px rgb(10, 136, 106);
  transition: all 0.2s ease;
}

.TodoForm-button--cancel {
  background: rgb(131, 14, 14);
  border-radius: 10px; 
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  position: relative;
}