.TodoSearch {
  background: #a2aeb1;

  border: solid 2px #ffffff;;
  border-radius: 100px;
  margin: 0 24px;
  height: 25px;
  width: calc(100% - 130px);
  font-size: 16px;
  text-align: center;
  font-family: monospace;
  color: #fffefe;
  box-shadow: 0px 5px 50 px rgba(32, 35, 41, 0.25);
}

.TodoSearch::placeholder {
  color: #f7f7f7;
  font-family: monospace;
  font-size: 16px;
}

input:hover {
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: #a53d3d00;
}


.TodoSearch:focus {
  outline-color: #ffffff;
}